* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
}

.gomb {
    background-color: #4CAF50; /* Green */
    border: none;
    background-color: #45a049;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 180%;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.gomb:hover {
    background-color: #45a049; /* Darker green */
}

#tarto {
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0 0 9000px rgb(0, 0, 0);
}

.fejlec {
    font-size: 200%;
    text-shadow: black 0px 0px 3px;
}

h1 {
    margin: 0;
}

.leiras {
    font-size: 120%;
    text-shadow: black 0px 0px 3px;
}

.gombok {
    margin-top: 20px;
}

audio {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.alsoMargin {
    margin-bottom: 200px;
}